#container {
	width:760px;
	height:auto;
	margin: auto;
	text-indent: 10px;
}
#menu 
{
	width: 760px;
	height: 50px;

}
#menu a 
{
	width: 84px;
	padding: 50px 0 0 0;
	height: 0px !important;
	background: no-repeat 0 0px;
	float:left;

}
#menu a[data-attribute="about"] {
	background-image:url("../imagini/meniu/about.gif");
	background-position: 0 -100px !important;
	width: 70px;
}
#menu a[data-attribute="portofoliu"] {
	background-image:url("../imagini/meniu/portofoliu.gif");
	width: 94px;	
}
#menu a[data-attribute="contact"] {
	background-image:url("../imagini/meniu/contact.gif");	
	width: 106px;
}
#menu a[data-attribute="servicii"] {
	background-image:url("../imagini/meniu/servicii.gif");	
}
#menu a:hover {
	background-position: 0 -100px !important;
}
#menu a.selected {
	background-position: 0 -100px !important;
}
#menu a.selected:hover{
	background-position:0 -50px;
} 

header 
{
	background-image:url(http://localhost/pentalog/imagini/banner-curs.png);
	background-size:100% 100% ;
	/* size se pune automat. sa intre toata imaginea in sectiunea unde am adaugat-o*/
	background-repeat:no-repeat;
	/*background: urs(...) no repeat - background-image+background-repeat */;
	height:150px;
	width: 760px;
	position: relative;

}
header form{
    width: 200px;
   	position: absolute;
   	right: 10px;
   	bottom:2px;
   	
   	}

#Content {
	float: left;
	width: 480px;
	height: auto;
	min-height: 300px;
}
#sidebar {

	height: auto;
	min-height: 200px;
}
footer {
	width:760px;
	height:66px;
	clear: both;
	position: relative;
	}
.clearfix {
	clear: both;
}
@media (max-width: 650px) 
{
	#sidebar {
		display: none;
	}
}
media print {
	header {
		display:none;
	}
}
@font-face {
	font-family: delicious;
	src: url("../fonts/walt.otf");
}
footer p {
	font-family:delicious;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 50px;

}

/*
www.caniuse.com
twitter bootstrap
goo.gl/1ubpMn
*/